@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('fonts/Gilroy-Bold.woff2') format('woff2'),
        url('fonts/Gilroy-Bold.woff') format('woff'),
        url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('fonts/Gilroy-Medium.woff2') format('woff2'),
        url('fonts/Gilroy-Medium.woff') format('woff'),
        url('fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    position: relative;
    margin: 0px;
}
.btn-menu {
    padding: 0;
    border: none;
    background: none;
    
}
.btn-exit {
    padding: 0;
    border: none;
    background: none;
}
.header-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 5px;

}
.menu {
    padding-bottom: 80px;
    margin: 28px;
    background-color: #FFFFFF;
    position: absolute;
    display: none;
    width: 320px;
    height: 700px;
}
.header-menu-list {
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.language-block {
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    align-items: flex-end;
    margin-top: 50px;
}
.language-block .selected {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    color: #070707;
    writing-mode: vertical-rl;
    margin: 0;
}
.language-block .not-selected {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    color: #828282;
    writing-mode: vertical-rl;
    margin: 0;
    padding-bottom: 5px;
}
.header-menu .selected{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    color: #070707;
    list-style-type: none;
    margin-bottom: 70px;
}
.header-menu .not-selected{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    color: #828282;
    list-style-type: none;
    margin-bottom: 70px;
}



.main h1 {
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    color: #070707;
}
.main h2{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color: #070707;
}
.main h3{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color: #070707;
    transform: rotate(-90deg);
}
.main {
    padding-top: 60px;
    padding-bottom: 80px;
    margin: 30px;
}
.main-container {
    display: flex;
    flex-direction: column;
}
.main-container-two {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.main-container-two img{
    padding-top: 15px;
}
.main-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.main-image img{
    max-width: 100%;
}
h1 {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    text-align: center;
    color: #070707;
    margin: 0;
}
p {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    text-align: center;
}
.about {
    padding-top: 80px;
    padding-bottom: 100px;
    margin: 30px;
}

.skills {
    padding-top: 80px;
    padding-bottom: 100px;
    margin: 30px;
}
.skills-container {
    display: flex;
    flex-direction: column;
}
.skills-menu {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    flex-direction: column;
}
.skills img {
    margin-top: 100px;
}
.portfolio {
    margin: 30px;
    padding-top: 80px;
}
.portfolio-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}
.portfolio img {
    margin-top: 50px;
    margin-bottom: 20px;
}
.portfolio p {
    text-decoration: underline;
}
.contacts {
    padding-top: 80px;
    margin: 30px;
    padding-bottom: 50px;
}
.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts button {
    background-color: #000000; /* Green */
    border: none;
    color: white;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    text-align: center;
    border-radius: 40px;
    padding: 8px;
    width: 100%;
}

.img-foot
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer
{
    margin: 30px;
    padding-bottom: 50px;
}

footer p
{
    color: #828282;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
}
.back {
    background-color: #F6F6F6;
}
