@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('fonts/Gilroy-Bold.woff2') format('woff2'),
        url('fonts/Gilroy-Bold.woff') format('woff'),
        url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('fonts/Gilroy-Medium.woff2') format('woff2'),
        url('fonts/Gilroy-Medium.woff') format('woff'),
        url('fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
hr {
    margin-top: 30px;
    margin-left: 250px;
    margin-right: 250px;
}
header{
    padding-top: 15px;
}
.header-menu {
    margin-left: 250px;
    margin-right: 250px;
}
.header-menu-list {
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
.not-selected{
    list-style-type: none;
    font-family: 'Gilroy-Bold';
    color: #828282;
    font-size: 18px;
}
.selected{
    list-style-type: none;
    font-family: 'Gilroy-Bold';
    color: #000000;
    font-size: 18px;
}

.main h1 {
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    color: #070707;
}
.main h2{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color: #070707;
}
.main .selected{
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    color: #070707;
    writing-mode: vertical-rl;
    margin: 0;
    transform:rotate(-180deg);
}
.main .not-selected{
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    color: #828282;
    writing-mode: vertical-rl;
    margin: 0;
    transform:rotate(-180deg);
    padding-bottom: 5px;
}
.language-block {
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    align-items: flex-end;
}


.main {
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 30px;
    padding-bottom: 100px;
}
.main-container {
    display: flex;
    flex-direction: column;
}
.main-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.main-image {
    height:470px;
}
.main-image img{
    object-fit: cover;
    width: 100%;
    height: 120%;
    object-position: 50% 42%;
}
h1 {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    text-align: center;
    color: #070707;
    margin: 0;
}
p {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    text-align: center;
}
.about {
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.back {
    background-color: #F6F6F6;
}
.skills {
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.skills-container {
    display: flex;
    flex-direction: column;
}
.skills-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.portfolio {
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 100px;
}
.portfolio-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}
.portfolio img {
    margin-top: 50px;
    margin-bottom: 20px;
}
.portfolio p {
    text-decoration: underline;
}
.contacts {
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    background-color: #000000; /* Green */
    border: none;
    color: white;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    text-align: center;
    border-radius: 40px;
    padding: 8px;
    width: 180px;
}

.img-foot
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 50px;
}

.footer-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer
{
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 100px;
}

footer p
{
    color: #828282;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
}
